<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<h1>Редактирование пользователя</h1>

<hr/>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
  <div>
    <input type="hidden" th:field="*{pass}" th:value="${user.getPass()}"/>
    <br/>
    <label for="login" >Введите login:</label>
    <input type="text" th:field="*{login}" id="login"/>
    <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login error</div>
    <br/><br/>
    <label for="name" >Введите имя:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/><br/>
    <label for="email" >Введите электронную почту:</label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br/><br/>
    <p>
      <label>Роли:
        <input type="checkbox"
               th:each="role : ${roles}"
               th:text="${role.getName().replace('ROLE_', '')}"
               th:value="${role.getId()}"
               th:selected="${role.id == user.id}"
               th:field="*{roles}"
        />
      </label>
    </p>
    <br/><br/>

    <input type="submit" value="Обновить">
  </div>
</form>

<br/>
<hr/>
<br/>

<a href="/admin">К списку пользователей</a>

</body>
</html>