<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List users</title>
</head>
<style>
    form { display : inline-block; }
</style>
<body>

<h1>Список пользователей</h1>

<hr/>
<br/>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Логин</th>
        <th>Имя</th>
        <th>Электронная почта</th>
        <th>Пароль</th>
        <th>Операции</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.getId()}">Id</td>
        <td th:utext="${user.getFirstName()}">FirstName</td>
        <td th:utext="${user.getLastName()}">LastName</td>
        <td th:utext="${user.getEmail()}">Email</td>
        <td>
            <form th:action="@{/admin/{id}/pass(id=${user.getId()})}">
                <input type="submit" value="Изменить"/>
            </form>
        </td>
        <td>
            <form th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="Просмотреть"/>
            </form>
            <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">
                <input type="submit" value="Редактировать"/>
            </a>
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}" th:disabled="${user.getEmail() == authorization}">
                <input type="submit" value="Удалить"/>
            </form>
        </td>
    </tr>
</table>

<br/>

<form th:action="@{/admin/new}">
    <input type="submit" value="Добавить нового пользователя">
</form>
<br><br>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Выход"/>
</form>

</body>
</html>