<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
</head>
<body>
<h1>Информация о пользователе</h1>

<hr/>
<br>
<label style="font-weight:bold">Login : </label><label th:text="${user.getLogin()}">VALUE</label>
<br><br>
<label style="font-weight:bold">Имя : </label><label th:text="${user.getName()}">VALUE</label>
<br><br>
<label style="font-weight:bold">Электронная почта : </label><label th:text="${user.getEmail()}">VALUE</label>
<br><br>
<label style="font-weight:bold">Роли : </label>
<ul th:each="role:${user.getRoles()}">
    <td th:text="${role.getName()}">VALUE</td>
    <br>
</ul>
<hr/>
<br><br>

<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Выход"/>
</form>

</body>
</html>